<div class="flex flex-col min-h-screen">
    <!-- Header -->
    <header class="bg-green-500 py-6 flex justify-between items-end">
        <div class="container mx-auto">
            <h1 class="text-white text-4xl font-bold">STAR WARS</h1>
        </div>
        <div class="text-white text-xs font-light mx-auto">
            <p>THE SWAPI PROJECT</p>
        </div>
    </header>

    <!-- Content -->
    <main class="flex-grow bg-gray-100 py-8">
        <div class="container mx-auto flex gap-4">
            <!-- First Card: Filters -->
            <div class="bg-white p-4 rounded shadow-md flex-grow">
                <h2 class="text-xl font-semibold mb-4">Filters</h2>
                <!-- Dropdowns without separate labels -->
                <div class="flex flex-col mb-4">
                    <select class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-green-500 hover:bg-green-500 hover:text-white" [(ngModel)]="selectedMovie">
                        <option selected disabled>Choose a movie</option>
                        <ng-container *ngFor="let movie of moviesList">
                            <option [value]="movie?.title">{{ movie?.title }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="flex flex-col mb-4">
                    <select class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-green-500 hover:bg-green-500 hover:text-white" [(ngModel)]="selectedSpecies">
                        <option selected disabled>Choose a species</option>
                        <ng-container *ngFor="let specie of speciesList">
                            <option [value]="specie?.name">{{ specie?.name }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="flex flex-col mb-4">
                    <select class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-green-500 hover:bg-green-500 hover:text-white">
                        <option selected disabled>Choose a vehicle</option>
                        <ng-container *ngFor="let vehicle of vehicleList">
                            <option>{{ vehicle?.name }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="flex flex-col mb-4">
                    <select class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-green-500 hover:bg-green-500 hover:text-white">
                        <option selected disabled>Choose a star ship</option>
                        <ng-container *ngFor="let starship of starshipList">
                            <option>{{ starship?.name }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="flex flex-col mb-4">
                    <select class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-green-500 hover:bg-green-500 hover:text-white">
                        <option selected disabled>Choose a birth year</option>
                        <option>1990</option>
                        <option>1995</option>
                        <option>2000</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                
                <div class="flex justify-center">
                    <button class="bg-white border border-green-500 text-green-500 px-4 py-2 rounded-sm hover:bg-green-500 hover:text-white hover:border-green-500 transition-colors duration-300 ease-in-out w-32" (click)="onSearch()">
                        Search
                    </button>
                </div>
            </div>

            <!-- Second Card: Table -->
            <div class="bg-white p-4 rounded shadow-md w-3/4 flex flex-col">
                <h2 class="text-xl font-semibold mb-4">SEARCH RESULTS</h2>
                <div class="flex-grow overflow-y-auto">
                    <table class="min-w-full bg-white h-full">
                        <thead class="bg-gray-200">
                            <tr>
                                <th class="py-4 px-4 border-b border-gray-300 text-left">Serial Number</th>
                                <th class="py-4 px-4 border-b border-gray-300 text-left">Name</th>
                                <th class="py-4 px-4 border-b border-gray-300 text-left">Species</th>
                                <th class="py-4 px-4 border-b border-gray-300 text-left">Birth Year</th>
                            </tr>
                        </thead>
                        <tbody class="h-full">
                            <ng-container *ngIf="peopleList.length > 0; else noData;">
                                <ng-container *ngFor="let people of filteredPeopleList; let i = index">
                                    <tr class="bg-gray-100 hover:bg-gray-200 h-1/5">
                                        <td class="py-4 px-4 border-b border-gray-300">{{ i + 1 }}</td>
                                        <td class="py-4 px-4 border-b border-gray-300">{{ people?.name }}</td>
                                        <td class="py-4 px-4 border-b border-gray-300">
                                            <ng-container *ngIf="people.speciesData && people.speciesData.length > 0">
                                                <span *ngFor="let species of people.speciesData; let last = last">
                                                    {{ species.name }}{{ !last ? ', ' : '' }}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngIf="!people.speciesData || people.speciesData.length === 0">
                                                ---
                                            </ng-container>
                                        </td>
                                        <td class="py-4 px-4 border-b border-gray-300">{{ people?.birth_year }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <ng-template #noData>
                                <div>
                                    There are no data!
                                </div>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
